Backtesting
bcrypt
ccxt
celery
cryptography
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-mantine-components
dash-table
diskcache
dash[diskcache]
Flask
line-notify
matplotlib
mplfinance
multiprocess
numpy
pandas
pandas-ta
plotly
TA-Lib
tabulate
gunicorn
moment
