bcrypt
ccxt
celery
cryptography
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-mantine-components
dash-table
diskcache
dash[diskcache]
Flask
line-notify
matplotlib
mplfinance
numpy
pandas
pandas-ta
plotly
tabulate
gunicorn
